.header{
    background-color: #131121;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo
{
    width: 100px;
    margin: 18px 20px 0 20px;
    object-fit: contain;
}

.header__Mobilelogo
{
    display: none;
}

.header__search
{
    display: flex;
    flex: 1;
}

.header__searchInput
{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon
{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__nav
{
    display: flex;
    justify-content: space-evenly;
}

.header__link
{
    color: #fff;
    text-decoration: none;
}

.header__optionBasket
{
    display: flex;
    align-items: center;
}

.header__option
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne
{
    font-size: 10px;
}

.header__optionLineTwo
{
    font-size: 13px;
    font-weight: 800;
}

.header__basketCount
{
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .header__nav
    {
        display: none;
    }

    .mobile__nav
    {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header__Mobilelogo
    {
        display: inline-block;
        width: 35px;
        margin: 5px 20px 5px 20px;
        object-fit: contain;
    }

    .header__logo
    {
        display: none;
    }

    .mobile__navIcon
    {
        color: #fff;
    }
}
